extends ../layout

block contenido

    h1 Proveedores
    
        div.contenedor

           
            a(href="/proveedores/nuevo")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #555;") Agregar Proveedores
        
            a(href="/proveedores/listar")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #555; margin-bottom: 5px;") Listar Proveedores
           
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Facturación Proveedores
        
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Listar Facturas Proveedores
            
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Ordenes de Pago
            
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Listar Ordenes de Pago
            