extends ../layout

block contenido

    h1 Home TodoStock S.A.
    
        div.contenedor

           
            a(href="/productos")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #555;") Stock
        
            a(href="/clientes")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #555; margin-bottom: 5px;") Clientes
           
            a(href="/proveedores")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Proveedores
        
            a(href="/finanzas")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Finanzas
            