extends ../layout

block contenido

    h1 Clientes
    
        div.contenedor

           
            a(href="/clientes/nuevo")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #555;") Agregar Clientes
        
            a(href="/clientes/listar")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #555; margin-bottom: 5px;") Listar Clientes
           
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Facturación Clientes
        
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Listar Facturas Clientes
            
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Nota de Débito
            
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Nota de Crédito
            
            a(href="/")(style="display: flex; margin: 15px; border: 1px solid #ddd; border-radius: 4px; align-items: center; justify-content: center; background-color: #fff; width: 250px; height: 150px; text-decoration: none;")
                h2(style="font-size: 1.5rem; color: #333; margin-bottom: 5px;") Presupuesto
            